<launch>
  <!-- Parameters to determine whether apriltag pose estimate 
  is computed using camera info or depth data -->
  <arg name="use_rgbd_position" default="true" />
  <arg name="use_rgbd_rotation" default="true" />

  <!-- Apriltag detection node -->
  <!-- <arg name="camera_name" default="/kinect2/hd/" />
  <arg name="image_topic" default="image_color_rect" />

  <node pkg="apriltag_ros" type="apriltag_detector_node"
	name="detector_kinect" output="screen">
    <param name="refine" type="bool" value="true"/>
    <param name="family" type="int" value="0"/>
    <param name="type"   type="int" value="0"/>
    <param name="black_border" type="int" value="1"/>
    <remap from="~image" to="$(arg camera_name)/$(arg image_topic)"/>
    <remap from="~tags" to="$(arg camera_name)/tags"/>
  </node> -->

  <!-- Camera-based apriltag pose estimation node -->
  <!-- <node pkg="apriltag_ros" name="apriltag_pose_estimator"
    type="apriltag_pose_estimator" output="screen">
    <remap from="~apriltags" to="$(arg camera_name)/tags"/>
    <remap from="~camera_info" to="$(arg camera_name)/camera_info"/>
    <remap from="~transform" to="transform_cam_apriltag"/>
    <param name="broadcast_tf" type="bool" value="true"/>
    <param name="auto_disconnect" type="bool" value="true"/> -->
    <!-- TODO: Remove hardcode - create new yaml from testbed_kinect.yaml -->
    <!-- <rosparam param="tag_descriptions">[
      {id: 138, size: 0.0415, frame_id: cam_138},
      {id: 135, size: 0.0415, frame_id: cam_135},
      {id: 50, size: 0.080, frame_id: cam_50},
      {id: 4, size: 0.06925, frame_id: cam_4}]
    </rosparam>
  </node> -->


  <!-- Apriltag RGBD pose estimation -->
  <node pkg="apriltags_rgbd" type="apriltags_rgbd_node.py"
    name="apriltags_rgbd_node" output="screen">
    <param name="use_rgbd_position" type="bool" value="$(arg use_rgbd_position)"/>
    <param name="use_rgbd_rotation" type="bool" value="$(arg use_rgbd_rotation)"/>
  </node>

  <!-- Body pose estimation -->
  <!-- <arg name="config_file"
    default="$(find apriltags_rgbd)/config/testbed_kinect.yaml"/>

  <node pkg="apriltags_rgbd" type="body_pose_estimation_node.py"
    name="body_pose_estimation_node" output="screen">
    <rosparam param="apriltags_rbgd_config" command="load"
      file="$(arg config_file)"/>
  </node> -->
</launch>
